/* table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
} */

/* input {
  width: 100px;
} */

/* form-control {
  width: 100;
} */

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 18%;
  background-color: #999999;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #999999;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#ListSidePanel {
  overflow-x: scroll;
}
.filterInputGroup {
  width: 220px;
}
.contctKeysCheck {
  border-radius: 0 !important;
  margin-top: -1px;
  margin-right: -4px;
  height: 25px;
  width: 25px;
}
.contctKeysInput {
  height: 25px;
  width: 180px;
}

#createContactButton {
  display: inline-block;
  background: green;
  border-radius: 4px;
  font-family: 'arial-black';
  font-size: 14px;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
}

#createContactButton:hover {
  background: blue;
}

.form-control::-moz-placeholder {
  color: red;
  opacity: 0.6;
}
.form-control::placeholder {
  color: red;
  opacity: 0.6;
}
.input-group > .form-control,
.input-group > .form-select {
  width: 150px;
  margin-left: -10px;
  margin-bottom: -50px;
  margin-right: 50px;
  height: 38px;
  /* display: inline; */
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
    .invalid-feedback
  ) {
  margin-left: 139px;
}
