#CalendarHTMLModule {
  display: none;
}
#DailyTasksHTMLModule {
  display: none;
}
#SidePanelHTMLModule {
  display: none;
}
#ContactTasksHTMLModule {
  display: none;
}
#EmailHTMLModule {
  display: none;
}
