@media only screen and (max-height: 950px) {
  .form-control,
  .custSelect {
    padding-top: 0.275rem !important;
    padding-bottom: 0.275rem !important;
    font-size: 13.5px;
  }
  .inputHeaderBlue {
    font-size: 12px;
  }
  .inputHeaderPink {
    font-size: 12px;
  }
  .inputHeaderPurple {
    font-size: 12px;
  }
  .inputHeaderOrange {
    font-size: 12px;
  }
  .inputHeaderRed {
    font-size: 12px;
  }
}
