@media only screen and (min-width: 768px) {
  .bartkaFullCol {
    margin-top: -50vh;
    height: 100vh;
  }
  .bartkaHalfCol {
    height: 50vh;
  }
  .calendarHeaderRow {
    height: 3vh;
  }
  .calendarRow {
    height: 11.75vh;
  }
  .calendarSatSunRow {
    height: 5.875vh;
  }
  .responsiveFont {
    font-size: 1.25vh;
  }
}
