@media only screen and (min-width: 768px) {
  .bartkaFullCol {
    margin-top: -100vh;
    height: 100vh;
  }
  .bartkaFullCalCol {
    /* margin-top: -50vh; */
    height: 100vh;
  }
  .bartkaHalfCol {
    height: 50vh;
  }
  .calendarHeaderRow {
    height: 4vh;
  }
  .calendarRow {
    height: 23vh;
    /* height: 11.75vh; */
  }
  .calendarSatSunRow {
    height: 11.5vh;
    /* height: 5.875vh; */
  }
  .Day21 {
    height: 30vh;
    /* height: 11.75vh; */
  }
  .SatSun21 {
    height: 15vh;
    /* height: 5.875vh; */
  }
  .Day14 {
    height: 46vh;
    /* height: 11.75vh; */
  }
  .SatSun14 {
    height: 23vh;
    /* height: 5.875vh; */
  }
  .Day07 {
    height: 92vh;
    /* height: 11.75vh; */
  }
  .SatSun07 {
    height: 46vh;
    /* height: 5.875vh; */
  }
  .Day01 {
    height: 92vh;
    /* height: 11.75vh; */
  }
  .responsiveFont {
    font-size: 1.65vh;
  }
  .responsiveHeaderFont {
    font-size: 1.875vh;
  }
  .calendarFooter {
    height: 4vh;
  }
  .DropDown,
  .DaysDropDown {
    width: 7.5vw;
  }
}
