/* +++++ScrollBar++++++ */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* +++++ScrollBar++++++ */

.bartkaEmptyCol {
  height: 0vh;
}
#emailBody {
  height: 30vh;
  font-size: 1.5vh;
}

#CalendarDate {
  /* text-shadow: 0px 0px 2px black;
  font-weight: bold; */
  font-size: 2.5vh;
  color-scheme: dark;
  border: 0;
  background: #8f9194;
  color: white;
}

input[type='date']:invalid::-webkit-datetime-edit {
  color: #cccccc;
}
.calendarRow {
  height: 15vh;
}
.calendarSatSunRow {
  height: 7.5vh;
}
.day-hover:hover {
  background-color: #ebccff;
  cursor: pointer;
}
.calCurrentDay {
  background-color: #ebccff;
}
.calTodaysDay {
  background-color: #ccffcc;
}
.calTodaysDay:hover {
  background-color: #ccffcc;
}
.calSelectedDay {
  background-color: #ccffff;
}
.calSelectedDay:hover {
  background-color: #ccffff;
}

.responsiveFont {
  font-size: 2vh;
}
.responsiveHeaderFont {
  font-size: 3vh;
}
* {
  border-radius: 0 !important;
}
.form-control::-moz-placeholder {
  color: #cccccc;
  /* opacity: 0.6; */
}
.form-control::placeholder {
  color: #cccccc;
  /* opacity: 0.6; */
}
/* Date time placeholders */
input[type='date']:invalid::-webkit-datetime-edit {
  color: #cccccc;
}

.paddingZero {
  padding-right: 0px;
  padding-left: 0px;
}
#_id {
  display: none;
}
.hiddenContact {
  display: none;
}
#contactsList {
  height: 10px;
}
#contactSearch {
  margin-top: 15px;
  height: 46px;
  border-left: 0px solid black;
  border-left-width: 0.5vw;
  /* padding-left: 0.5vw; */
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: white;
}
.searchicon[type='text'] {
  background-image: url('../icons/search-icon.png') !important;
  background-position: 10px 9px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.leftBorderGreen {
  border-left: 0px solid green;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.topBottomBorderBlack {
  border-left: 0px;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.topBottomRightBorderBlack {
  border-left: 0px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderBlue {
  border-left: 0px solid blue;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderPink {
  border-left: 0px solid hotpink;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderPurple {
  border-left: 0px solid purple;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderRed {
  border-left: 0px solid red;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}

/* .form-control {
  background-color: #dbdcde;
  border: 0px;
} */
#LastMonthButton:hover,
#LastWeekButton:hover,
#NextWeekButton:hover,
#NextMonthButton:hover {
  cursor: pointer;
}
#calendarHeader img {
  height: 2.75vh;
}

.renewal,
.event {
  background-color: #ff9933;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  /* border-radius: 10px !important; */
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}

.renewal:hover,
.event:hover {
  background-color: #cf33ff;
  /* border-radius: 0px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}

.eNotCompleted {
  background-color: #009966;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  /* border-radius: 10px !important; */
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}
.eNotCompleted:hover {
  background-color: #cf33ff;
  /* border-radius: 0px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}

.eCompleted,
.rCompleted {
  background-color: #ff3366;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  /* border-radius: 10px !important; */
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}

.eCompleted:hover,
.rCompleted:hover {
  background-color: #cf33ff;
  /* border-radius: 0px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.active {
  background-color: #0066ff;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  /* border-radius: 10px !important; */
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}
.active:hover {
  background-color: #0066ff;
}
.bartkaCheckbox {
  width: 41px;
  height: 41px;
}
.bartkaCheckbox:checked {
  width: 41px;
  height: 41px;
  background-color: #ff3366 !important;
}

#createEventTime {
  border: 0px;
  width: 12vw !important;
  /* padding-right: 5vw !important; */
  padding-right: 0.5vw !important;
  border-left: 0px solid green;
  border-left-width: 0.5vw;
  padding-left: 1vw;
}

#contactTasksTextArea {
  border-left: 0px solid green;
  border-left-width: 0.5vw;
  padding-left: 1vw;
}

.DropDown {
  width: 23vw;
}

.selectedRenewDate {
  background-color: rgb(255, 218, 237);
}

.eventDescriptions,
.eventDates {
  border-left: 0px solid #ff3366;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
}

#emailSubject,
#emailBody,
#inputGroupFile04 {
  border-left: 0px solid #0066ff;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
}
#TasksDropDown,
#StatusSelect,
#SourceSelect,
#LastEditedBySelect {
  border-left: 0px solid #ff9933;
  border-left-width: 0.5vw;
  padding-left: 0.5vw;
}
.contactTaskSelected {
  background-color: rgb(255, 218, 237);
}
/* .eventDates { */
/* position: absolute; */
/* padding-right: 5vw !important;
  margin-right: -5vw !important; */
/* width: 5vw !important; */
/* z-index: 1; */
/* } */
/* .eventDescriptions { */
/* position: absolute; */
/* width: 13vw !important; */
/* z-index: 3; */
/* } */

/* ::-webkit-calendar-picker-indicator {
  margin-left: -125px;
} */
/* 
[data-bs-theme='blue'] {
  --bs-body-color: var(--bs-white);
  --bs-body-color-rgb: #{to-rgb($white)};
  --bs-body-bg: var(--bs-blue);
  --bs-body-bg-rgb: #{to-rgb($blue)};
  --bs-tertiary-bg: #{$blue-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
  }

  .btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, 0.5)};
    --bs-btn-border-color: #{rgba($white, 0.25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, 0.5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, 0.25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, 0.5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, 0.5)};
    --bs-btn-focus-border-color: #{rgba($white, 0.5)};
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
  }
} */
