/* +++++ScrollBar++++++ */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* +++++ScrollBar++++++ */

.bartkaEmptyCol {
  height: 0vh;
}

#CalendarDate {
  /* text-shadow: 0px 0px 2px black;
  font-weight: bold; */
  border: 0;
  background: #8f9194;
  color: white;
}

input[type='date']:invalid::-webkit-datetime-edit {
  color: #cccccc;
}
.calendarRow {
  height: 15vh;
}
.calendarSatSunRow {
  height: 7.5vh;
}
.day-hover:hover {
  background-color: #ccffff;
  cursor: pointer;
}
.calendarCurrentDay {
  background-color: #ccffcc;
}

.responsiveFont {
  font-size: 2vh;
}
.responsiveHeaderFont {
  font-size: 3vh;
}
* {
  border-radius: 0 !important;
}
.form-control::-moz-placeholder {
  color: #cccccc;
  /* opacity: 0.6; */
}
.form-control::placeholder {
  color: #cccccc;
  /* opacity: 0.6; */
}
/* Date time placeholders */
input[type='date']:invalid::-webkit-datetime-edit {
  color: #cccccc;
}

.paddingZero {
  padding-right: 0px;
  padding-left: 0px;
}
#_id {
  display: none;
}
.hiddenContact {
  display: none;
}
#contactsList {
  height: 10px;
}
#contactSearch {
  margin-top: 15px;
  height: 46px;
  border-left: 0px solid black;
  border-left-width: thick;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: white;
}
.searchicon[type='text'] {
  background-image: url('../icons/search-icon.png') !important;
  background-position: 10px 9px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.leftBorderGreen {
  border-left: 0px solid green;
  border-left-width: thick;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.topBottomBorderBlack {
  border-left: 0px;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.topBottomRightBorderBlack {
  border-left: 0px;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderBlue {
  border-left: 0px solid blue;
  border-left-width: thick;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderPink {
  border-left: 0px solid hotpink;
  border-left-width: thick;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderPurple {
  border-left: 0px solid purple;
  border-left-width: thick;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.leftBorderRed {
  border-left: 0px solid red;
  border-left-width: thick;
  border-top: 1px solid grey;
  border-right: 0px;
  border-bottom: 1px solid grey;
  background-color: white;
}

/* .form-control {
  background-color: #dbdcde;
  border: 0px;
} */
#LastMonthButton:hover,
#LastWeekButton:hover,
#NextWeekButton:hover,
#NextMonthButton:hover {
  cursor: pointer;
}
#calendarHeader img {
  height: 2.75vh;
}

.renewal {
  background-color: #ff9933;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  border-radius: 10px !important;
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}
.active {
  background-color: #cf33ff;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  border-radius: 10px !important;
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}
.renewal:hover {
  background-color: #0066ff;
  /* border-radius: 0px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}

.notCompleted {
  background-color: #00cc66;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  border-radius: 10px !important;
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}
.notCompleted:hover {
  background-color: #0066ff;
  /* border-radius: 0px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}

.Completed {
  background-color: #ff3366;
  margin-left: -12px;
  padding-left: 12px;
  margin-right: -12px;
  padding-right: 12px;
  border-radius: 10px !important;
  border-style: solid;
  border-color: white;
  border-width: thin;
  /* font-weight: bold; */
  text-shadow: 0px 0px 2px grey;
}

.Completed:hover {
  background-color: #0066ff;
  /* border-radius: 0px !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease; */
}
.bartkaCheckbox {
  width: 41px;
  height: 41px;
}
.bartkaCheckbox:checked {
  width: 41px;
  height: 41px;
  background: red;
}

#createEventTime {
  width: 11vw !important;
}
/* .eventDates { */
/* position: absolute; */
/* padding-right: 5vw !important;
  margin-right: -5vw !important; */
/* width: 5vw !important; */
/* z-index: 1; */
/* } */
/* .eventDescriptions { */
/* position: absolute; */
/* width: 13vw !important; */
/* z-index: 3; */
/* } */

/* ::-webkit-calendar-picker-indicator {
  margin-left: -125px;
} */
