# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/archive
/images
/icons
/.sync
/Global/variables.js
/Global/serverConfig.js
/JS/variables.js
/JS/serverConfig.js